<div class="interview row">
  <img src="../../../../assets/images/img_476234.png" alt="image" class="col-md-2">
  <div class="interview__left col-md-6">
    <p>Experienced UX Architect</p>
    <p class="interview__left__middle"><strong>You've been called for a first interview</strong> <span
      class="interview__today">&nbsp; Yesterday &nbsp;</span><span
      class="interview__new">NEW</span></p>
    <p class="interview__left__middle">Dear applicant, we received your resume through the Codex system and we lglad to
      inform you that we wish to
      interview you. In the next few days....</p>
    <span class="interview__left__more">more</span>
  </div>

  <div class="interview__right offset-md-1 col-md-3">
    <p>Tell us about your Codex recruiting process</p>
    <i class="fas fa-chevron-right"></i>
    <div class="interview__right__date">
      <vaadin-date-picker placeholder="Sheduled date?"></vaadin-date-picker>
    </div>
  </div>
</div>































