<div class="body__answers row">
  <img src="../../../../assets/images/img_476234.png" alt="image" class="col-md-2">
  <div class="body__answers__left col-md-6">
    <p><strong>HP</strong> - Experienced Developer</p>
    <p class="body__answers__left__down"><strong>Congratulations, you are hired!</strong> <span class="body__answers__today">&nbsp; Today &nbsp;</span><span
      class="body__answers__new">NEW</span></p>
  </div>

  <div class="body__answers__right offset-md-1 col-md-3">
    <p>Tell us about your Codex recruiting process</p>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
<div class="body__answers__bottom">
  <p>5 older answers</p>
</div>
